body {
    font-family: Arial, sans-serif;
    background-image: url(../images/sports-arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container h1 {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    margin: 20px 0;
    color: rgb(64, 89, 253);
    letter-spacing: 2.5px;
}


.container {
    max-width: 600px;
    padding: 20px;
    background-color: #a39ad0e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles for navbar */
.navbar {
    background-color: rgb(69, 122, 213);
}

.navbar-brand {
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
}

/* Styles for footer */
footer {
    background-color: rgb(69, 122, 213);
    letter-spacing: 3px;
}

footer h3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(91, 90, 90); ;
}

.social-media i {
    color: rgb(64, 89, 253);;
    transition: color 0.3s ease;
    margin-right: 30px; 
}


.social-media i:hover {
    color: rgb(91, 90, 90); 
}

.social-media h3 {
    font-family: 'Anton', sans-serif;
    font-size: 30px; 
    color: #333; 
    text-transform: uppercase; 
    margin-bottom: 15px; 
    
}
/* Styles for instuctions */
.info {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
}
/* Styles for the difficulty buttons */
.difficulty button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(64, 89, 253);
    color: #fff;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin: 10px;
}

/* Styles for the quiz */
.quiz {
    margin-top: 20px;
}

/* Styles for the questions */
#question {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #131359;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
}

/* Styles for the answer options */

#options button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: #fff;
    color: #131359;;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin: 20px;
    font-weight: 700;
}

/* Styles for the correct answer */
.correct-answer {
    background-color: #4CAF50; /* Green */
    color: #fff; /* White */
}

/* Styles for the incorrect answer */
.incorrect-answer {
    background-color: #FF5733; 
    color: #fff;
}
/* Styles for the next button */

#next {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(64, 89, 253);
    color: #fff;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
    margin: 0 auto;
    display: block;
}
/* Styles for the start game button */
#start-game {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #6BBAA3;
    color: #fff;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
    margin: 0 auto;
    display: block;
}

/* Styles for the score area */
#score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
/* Styles for the map area */
#map {
    height: 500px;
    width: 100%;
}

.map-info {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center; 
}

