body {
    font-family: Arial, sans-serif;
    background-image: url(../images/sports-arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    font-size: 42px;
    font-family: 'Anton', sans-serif;
    margin: 20px 0;
    color: rgb(64, 89, 253);
    letter-spacing: 2px;
}


.container {
    max-width: 600px;
    padding: 20px;
    background-color: #c7c7bee7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.difficulty button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(64, 89, 253);
    color: #fff;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin: 10px;
}


.quiz {
    margin-top: 20px;
}

#question {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #131359;

}

#options button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(64, 89, 253);
    color: #fff;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin: 30px;
}

#start {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(64, 89, 253);
    color: #fff;
    border: solid 1px ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
    margin: 0 auto;
    display: block;
}

#score {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}